/* components/NavBar.module.css */
.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: var(--font-pp-neue-montreal), sans-serif;
  }
  
  .logoContainer {
    margin-right: 20px;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20;
    gap: 40px; /* This adds a 20px gap between each list item */
  }
  
  .item a {
    text-decoration: none;
    color: #47201C;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .item a:hover {

    color: #000000/* Change this to your desired hover color */
  }
  